*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
.primary-buttons{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;

}
.primary-buttons:hover{
    background-color: var(--accent-color-dark);

}
.seconday-buttons{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) ;
    padding: 12px 24px;
    transition: 0.2s ease-out;
   

}
.seconday-buttons:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);


}
.flex{
    display: flex;
    align-items: center;
}
.hover-links{
    color: var(--primary-text-color);
}
.hover-links:hover{
    color: var(--accent-color-dark);
    transition: 0.2s ease-out;
}
/**Top Banner**/
ul{
    list-style: none;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url("asset 32.png");
    background-size: 300px;

}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.company-logo{
    width: 200px;
    
    
   
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;

}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
/**header-section**/
header{
    padding: 50px var(--padding-inline-section) 0;
    
}header-section{
    justify-content: center;
    gap: 50px;


}
.header-right img{
    width: 600px;

}
.header-left{
    max-width: 40vw;
}
.get-started{
    margin: 20px;
}
/**companies-header**/
.companies-header{
    text-align: center;
    margin: 30px 30px; /**margin-block:30px**/
    color: var(--primary-text-color);
}
.logos{
    margin-top: 30px;
    justify-content: space-between;
    
}
.logo{
    height: 40px;
}
/**features-section**/
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    margin-top: 30px;
    background: url("asset 34.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.feature-header{
    text-align: center;
}
.feature-header h2{
    margin-bottom: 30px;
}
.feature-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.feature-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}
/**section-4**/
.section1-img{
    height: 470px;
    width: 470px;
    margin-right: 100px; 
}
.section-1{
    margin-top: 30px;
    gap: 50px;
}
.section12{
    top: 40px;
}
.section12 h3{
    font-size: 18px;
}
.section12 h2{
    font-size: 32px;
}
.section12 p{
    font-size: 20px;
}
.section12 img{
    height: 30px;
    width: 105px;
}
section13 img{
    height: 60px;
    width: 48px;
}
.img22{
    align-items: flex-end;
}
/**box-5**/
.example-section h1{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
   justify-content: center;
}
.seemore{
    text-align: center;     
}
/**section-6**/
.cards-section0{
    width: 23%;
    height: 300px;
    margin-right: 20px;
    color: beige;
    text-align: center;
    background:rgba(0, 0,0, 0.6) url("asset 36.jpeg");
    background-blend-mode:darken;
    background-size: cover;
}
.cards-section1{
    width: 23%;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
   background: black;
   position: relative;
   background:rgba(0, 0,0, 0.6) url("asset 37.jpeg");
   background-blend-mode:darken;
   background-size: cover;
}
.cards-section2{
    width: 23%;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    background:rgba(0, 0,0, 0.6) url("asset 38.jpeg");
    background-blend-mode:darken;
    background-size: cover;
}
.cards-section3{
    width: 23%;
    height: 300px;
    margin-left: 20px;
    background:rgba(0, 0,0, 0.6) url("asset 39.jpeg");
   background-blend-mode:darken;
   background-size: cover;
}
.cta-section{
    margin-top: 50px;
}
.cta-section p{
    color: white;
    margin-top: 240px;
}
footer{
    margin-top: 20px;
    background-color: #183b56;

}
.sec-color{
    color: white;
    width: 100%;
}
.sec1-color{
    color: #B9CDE4;
}
.section-7{
    
    margin-left: 180px;
   
    
}
/**section-8**/
.sub-footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.sub1-footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub2-footer{
    align-items: center;
    margin-left: 47%;
    margin-top: 20px;
}
/**section-9**/
.footerlast{
    justify-content: space-between;
    
}
.last-footer12{
   width: 200px;
   padding: 10px;
   
}
.select1{
    background-color:#EBF2FA;

}
.gap2{
    row-gap: 54px;
    column-gap: 50px;
}
.section10 {
    display: flex;
    align-items: flex-start;
   color: #6c8289;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}



.sec-11{
    display: flex;
    margin-top: 15px;
    flex-direction: row;
}
.sec-11:hover{
    color: #455c6e;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}





